1. Treino
2. Validação
3. Teste

# Primeiro Modelo com Random Forest

In [ ]:
import pandas as pd
import numpy as np

In [145]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [146]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [ ]:
test.describe().T

In [147]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split

In [ ]:
X_falso = np.arange(10)

In [ ]:
np.random.seed(0)
train_test_split(X_falso, test_size=0.5)

In [ ]:
#np.random.seed(0)
#X_treino, X_valid, y_treino, y_valid = train_test_split(X, y, test_size=0.5)

In [ ]:
modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)

### Variáveis

### Variáveis

In [ ]:
#Sex_binario = 1 - Mulher
#Sex_binario = 0 - Homem
variaveis = ['Sex_binario','Age']

In [ ]:
train['Sex'].value_counts()

In [ ]:
def transformar_sexo(valor):
    if valor =='female':
        return 1
    else:
        return 0

train['Sex_binario'] = train['Sex'].map(transformar_sexo)

In [ ]:
train.head()

In [ ]:
train.describe().T

In [ ]:
train['Sex_binario'].value_counts()

In [ ]:
variaveis=['Sex_binario','Age']

In [ ]:
X = train[variaveis]
y = train['Survived']

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
modelo.fit(X,y)

In [ ]:
X = X.fillna(-1)

In [ ]:
modelo.fit(X,y)

In [ ]:
X_prev = test[variaveis]

In [ ]:
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

In [ ]:
X_prev = test[variaveis]
X_prev = X_prev.fillna(-1)

In [ ]:
X_prev.head()

In [ ]:
p = modelo.predict(X_prev)

In [ ]:
p

In [ ]:
p.shape

In [ ]:
test.head()

In [ ]:
test.shape

In [ ]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')

In [ ]:
sub

In [ ]:
sub.to_csv('Submissao_Random_Forest.csv', header=True)

In [ ]:
!head -n10 Submissao_Random_Forest.csv

# Segundo Modelo com Random Forest

In [ ]:
np.random.seed(0)
X_treino, X_valid, y_treino, y_valid = train_test_split(X, y, test_size=0.5)

In [ ]:
X_treino.head()

In [ ]:
X_treino.shape, X_valid.shape, y_treino.shape, y_valid.shape

In [ ]:
modelo.fit(X_treino, y_treino)

In [ ]:
modelo.predict(X_valid)

In [ ]:
p = modelo.predict(X_valid)

In [ ]:
p.shape

In [ ]:
np.mean(y_valid == p)

In [ ]:
p = (X_valid['Sex_binario'] == 1).astype(np.int64)

In [ ]:
p

# Salvar Base

In [ ]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')

In [ ]:
sub

In [ ]:
sub.to_csv('Submissao_Random_Forest1.csv', header=True)

In [ ]:
!head -n10 Submissao_Random_Forest1.csv

# Método de Reamostragem

## Validação Cruzada

In [ ]:
X_falso

In [ ]:
from sklearn.model_selection import KFold

In [136]:
kf = KFold(3, shuffle=True, random_state=0)
for linhas_treino, linhas_valid in kf.split(X_falso):
    print("Treino:", linhas_treino)
    print("Valid:", linhas_valid)
    print()

Treino: [0 1 3 5 6 7]
Valid: [2 4 8 9]

Treino: [0 2 3 4 5 8 9]
Valid: [1 6 7]

Treino: [1 2 4 6 7 8 9]
Valid: [0 3 5]

In [143]:
#?KFold
import pandas as pd

In [189]:
resultados = []
for rep in range(10):
    print('--------------------------------')
    print('Rep:', rep)
    kf = KFold(2, shuffle=True, random_state=rep)
    for linhas_treino, linhas_valid in kf.split(X):
        print("Treino:", linhas_treino.shape[0])
        print("Valid:", linhas_valid[0])
        print()

        X_treino, X_valid = X.iloc[linhas_treino], X.iloc[linhas_valid]
        y_treino, y_valid = y.iloc[linhas_treino], y.iloc[linhas_valid]

        modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)
        modelo.fit(X_treino, y_treino)

        p = modelo.predict(X_valid)

        acc = np.mean(y_valid == p)

        resultados.append(acc)
        print('Acc:', acc)

        print()

        #print(X_treino.head())
        #print()

--------------------------------
Rep: 0
Treino: 445
Valid: 0

Acc: 0.7713004484304933

Treino: 446
Valid: 3

Acc: 0.7797752808988764

--------------------------------
Rep: 1
Treino: 445
Valid: 0

Acc: 0.7443946188340808

Treino: 446
Valid: 1

Acc: 0.7955056179775281

--------------------------------
Rep: 2
Treino: 445
Valid: 1

Acc: 0.7757847533632287

Treino: 446
Valid: 0

Acc: 0.7887640449438202

--------------------------------
Rep: 3
Treino: 445
Valid: 3

Acc: 0.7533632286995515

Treino: 446
Valid: 0

Acc: 0.7573033707865169

--------------------------------
Rep: 4
Treino: 445
Valid: 1

Acc: 0.7354260089686099

Treino: 446
Valid: 0

Acc: 0.7415730337078652

--------------------------------
Rep: 5
Treino: 445
Valid: 3

Acc: 0.7219730941704036

Treino: 446
Valid: 0

Acc: 0.7056179775280899

--------------------------------
Rep: 6
Treino: 445
Valid: 0

Acc: 0.7757847533632287

Treino: 446
Valid: 1

Acc: 0.7303370786516854

--------------------------------
Rep: 7
Treino: 445
Valid: 2

Acc: 0.7040358744394619

Treino: 446
Valid: 0

Acc: 0.7348314606741573

--------------------------------
Rep: 8
Treino: 445
Valid: 0

Acc: 0.7488789237668162

Treino: 446
Valid: 2

Acc: 0.7887640449438202

--------------------------------
Rep: 9
Treino: 445
Valid: 2

Acc: 0.7623318385650224

Treino: 446
Valid: 0

Acc: 0.7842696629213484

In [190]:
resultados

[0.7713004484304933,
 0.7797752808988764,
 0.7443946188340808,
 0.7955056179775281,
 0.7757847533632287,
 0.7887640449438202,
 0.7533632286995515,
 0.7573033707865169,
 0.7354260089686099,
 0.7415730337078652,
 0.7219730941704036,
 0.7056179775280899,
 0.7757847533632287,
 0.7303370786516854,
 0.7040358744394619,
 0.7348314606741573,
 0.7488789237668162,
 0.7887640449438202,
 0.7623318385650224,
 0.7842696629213484]

In [182]:
np.mean(resultados)

0.7692593057560732

In [191]:
np.mean(resultados)

0.7550007557817302

# Melhoria Modelo