# Instalação
- conda install dask
- pip install dask

## 1. Dask Arrays

In [2]:
## Import dask Array
import dask.array as da

In [6]:
x = da.random.random((100000,100000), chunks=(1000,1000))

In [7]:
x

dask.array<random_sample, shape=(100000, 100000), dtype=float64, chunksize=(1000, 1000), chunktype=numpy.ndarray>

In [ ]:
x.compute()

# 2. Dask DataFrame

In [5]:
## import dataset default dask
from dask import datasets