<a href="https://colab.research.google.com/github/DataScience-2021/Guia-Completo-IA-01-Python/blob/main/EXERCICIOS_Manipulacao_ArquivosTextos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício 01

Considerando o dicionário com o nome dos alunos e suas respectivas notas abaixo, crie uma estrutura de repetição para percorrer cada elemento do dicionário para gravar cada aluno em um novo arquivo de texto
- Cada aluno deve ocupar uma linha do novo arquivo de texto
- O formato deve ser: nome,nota (Pedro,8.0)
- Após a criação do arquivo de texto, faça a leitura do arquivo e mostre todos os alunos

alunos = {'Pedro': 8.0, 'Maria': 10.0, 'Amilton': 7.5}

In [6]:
alunos = {'Pedro': 8.0, 'Maria': 10.0, 'Amilton': 7.5}

In [7]:
alunos

{'Amilton': 7.5, 'Maria': 10.0, 'Pedro': 8.0}

In [11]:
alunos['Andre']=5.5

In [13]:
alunos['Luiz']=6.5
alunos['Durval']=6.5
alunos['Marilda']=6.5

In [15]:
with open('arquivo.txt', mode='w') as arquivo:
  for aluno,nota in alunos.items():
    arquivo.write(f'{aluno},{nota}\n')

In [16]:
with open('arquivo.txt', mode='r') as arquivo1:
  for linha in arquivo1:
    print(linha)

Pedro,8.0

Maria,10.0

Amilton,7.5

Andre,5.5

Luiz,6.5

Durval,6.5

Marilda,6.5

----------------------------------------------------------------- Rascunho

# Rascunho

In [5]:
alunos={}

In [ ]:
nome=input('Entre com o nome do aluno  > ')
nota=input('Entre com a nota do aluno  > ')
alunos.append(nome:nota)

In [3]:
my_dict = {"Name":[],"Address":[],"Age":[]};

my_dict["Name"].append("Guru")
my_dict["Address"].append("Mumbai")
my_dict["Age"].append(30)	
print(my_dict)

{'Name': ['Guru'], 'Address': ['Mumbai'], 'Age': [30]}

In [4]:
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
print("username :", my_dict['username'])
print("email : ", my_dict["email"])
print("location : ", my_dict["location"])

username : XYZ
email :  xyz@gmail.com
location :  Mumbai